@font-face {
    font-family: "Orbitron";
    src: url(Orbitron-VariableFont_wght.ttf);
}
html {
    background-color: #212a2e;
    color: #F7F8F8;
}
body {
    margin:auto;
    max-width:780px;
    padding:3em;
}
a {
    color: #05B9EC;
    text-shadow: 0px 0px 3px #6800E7;
    text-decoration: none;
    transition: text-shadow 1s;
}
a:hover {
    text-shadow: 0px 0px 10px #B239FF;
}

h1,h2,h3 {
    font-family: 'Orbitron', sans-serif;

}
h1 {
    text-align: center;
    background-image: linear-gradient(to left, #B239FF, #6800E7, #05B9EC, #B239FF, #6800E7, #05B9EC);
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #555;
    color: transparent;
    font-size: 4em;
    margin-bottom:0;
    /*font-family: 'Press Start 2P';*/
}
h2,h3 {
    color: #05B9EC;
    text-shadow: 1px 1px 10px #6800E7;

}

.alert {
    border: 3px dashed red;
    padding:1em;
}
